*{
    font-family: 'Roboto' ,sans-serif;  
} 


body {                                   
    margin: 0px;
    padding: 0px;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 10px 200px;
}  

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 16px;
}
 
 ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
 }

 .header .logo {
    font-size: 30px;
}

.hero-section {
    display: flex;
    padding: 6% 0%;
    gap: 8%;
} 

.left, .right {
    width: 50%;
 }

 .hero-section .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
 }

 .left {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
.left .text{
    font-size: 18px;
}

 .left h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;   
 }

 button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 20px;
    width: 120px;
    border: none;
 }

/*section2*/

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
} 
.card-container{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
         
} 

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin : 45px;
} 

.box {
    width: 160px;
    height: 160px;
    border: 3px solid;
    border-color: #3882f6;
    border-radius: 10px;    
} 


.section3 {
    background-color: #e5e7eb ;
    display: flex;
    flex-direction: column;
    align-items: center;    
} 

.text-box {
    margin: 50px 500px;
} 


.text-box p {
    font-style: italic;
    font-size: 36px;
}

.text-box #quote {
    width: 300px;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}  

 